name: base
description: Aplicaci칩n base, utilizando Flutter Bloc.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  # Permite leer configuraciones globales desde los archivos de la carpeta assets
  global_configuration: ^2.0.0-nullsafety.1
  # Permite trabajar con el patron built value para el manejo de tipo de datos
  # inmutables
  built_value: ^8.1.3
  built_collection: ^5.1.1
  # Permite leer y escribir en el local storage
  flutter_secure_storage: ^5.0.2
  # Se utiliza para sanar strings al guardarlos en el local storage
  string_validator: ^0.3.0
  # Permite hacer peticiones HTTP
  dio: ^4.0.4
  # Permite usar el patron bloc para el manejo de estado
  bloc: ^8.0.2
  flutter_bloc: ^8.0.1
  equatable: ^2.0.3
  # Muestra logs mas vistosos, util para depurar
  logger: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0
  # Genera c칩digo autom치ticamente para la implementaci칩n de tipos de datos
  # inmutables con built value
  build_runner: ^2.1.7
  built_value_generator: ^8.1.3

flutter:
  uses-material-design: true

  assets:
    - assets/cfg/
  # Cargamos la fuente que usaremos por defecto
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Thin.ttf
          weight: 100
        - asset: assets/fonts/Poppins-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Poppins-Light.ttf
          weight: 300
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Poppins-Black.ttf
          weight: 900
